html,
body {
  height: 100vh; /* empêcher le scroll de faire défiler la page */
  overflow: hidden; /* pas de scroll visible */
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #21242b;
}
#scroll-container {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  z-index: 9999;
}

#scroll-content {
  height: 7000px; /* simulate scroll length */
  pointer-events: none; /* optionnel, éviter interactions */
}

#canvas-container {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}


#canvas-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

h1 {
  font-family: "Spectral", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 4rem;
}

h2 {
  font-family: "Spectral", sans-serif;
  font-style: italic;
  font-weight: 500;

  font-size: 3rem;
}

h3 {
  font-weight: 400;
  font-size: 2rem;

  margin: 0;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

p {
  margin: 0;
}
