.topBar {
  &__container {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: transparent;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 9999;
  }

  &__logoIT {
    width: 30px;
    display: block;
    opacity: 1;
    transform: translateX(0);
    top: 0;
    left: 0;
  }

  &__logoInsightTouch {
    width: 160px;
    display: none;
    opacity: 0;
    transform: translateX(30px);
    top: 0;
    left: 0;
  }

  &__lien__container {
    display: flex;
    align-items: center;
    margin-right: 24px;
    gap: 24px;
  }

 
}
 a {
    text-decoration: none;
    color:#F1F1F1
  }